doctype html
html(lang=locale)
    head
        meta(charset="UTF-8")
        meta(name="title" content=__("appName"))
        meta(name="description" content=__("appDescription"))
        meta(name="keywords" content="Abwäg-o-mat, Pro Kontra, Entscheidungshilfe, Argumente abwägen, Entscheidungs-Tool, Pro und Kontra, Web-App, Diskussionshilfe, Entscheidungsmatrix, Analyse, Bewertung, Online Tool, Entscheidungsfindung, Argumentieren")
        meta(name="robots" content="index,follow")
        meta(charset="utf-8")
        meta(name="language" content=locale)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/assets/css/style.css")
        title #{__("appName")}
    body 
        block content