extends ./base
include ./elements/buttonIcon
include ./elements/argumentsFormWidget
include ./elements/saveDialog
include ./elements/shareDialog

block content 
    if !saved
        +saveDialog(pDebate)
    +shareDialog()
    header 
        h3 #{__("resultIs")}
        h1 #{pDebate.winner} zu #{pDebate.thesis}
        h3 #{__("hereIsAOverview")}
    main.center
        table
            tr  
                th 
                th #{__("arguments")} 
                th #{__("weightPoints")}  
                th #{__("totalPoints")}  
            tr#table-pro.collapse(class= pDebate.winner == "Pro" ? "winner" : "")
                td #{__("pro")} 
                td #{pDebate.proAnalysis.argumentPoints}
                td #{pDebate.proAnalysis.bonusPoints}
                td #{pDebate.proAnalysis.totalPoints}
            tr#table-con.collapse(class= pDebate.winner == "Kontra" ? "winner" : "")
                td #{__("con")}
                td #{pDebate.conAnalysis.argumentPoints}
                td #{pDebate.conAnalysis.bonusPoints}
                td #{pDebate.conAnalysis.totalPoints}
        form(method="POST" action="/save")
            +argumentsFormWidget(pDebate)
            
    footer.flex
        button(type="submit" onclick="doPrint()") #{__("print")}
            +fancyIcon("🖨")
        if saved
            button(type="submit" onclick="showShareModal()") #{__("share")}
                +fancyIcon("➦")
        else
            button(type="submit" onclick="showSaveModal()") #{__("saveAndShare")}
                +fancyIcon("➦")
        button(type="submit" onclick="goHome()") #{__("again")}!
            +fancyIcon("↻")
    script(src="/assets/js/resultHelpers.js") 