mixin argumentsFormWidget(debate)
    div.col 
        div.pro
            h3 #{__("pro")}
            if (debate.proArguments !== undefined)
                - for (let argument of debate.proArguments)
                  div.flex
                    input.weight( onclick="updateWeight(this)" value=argument.weight || 1 name="pro-w" readonly)
                    input.locked(type="text" value=argument.argument name="pro" readonly)
            if(currentStep == 1)
                input.inactive(type="text" onfocus="activateInactiveButton('pro')")
        div.seperator
        div.con
            h3 #{__("con")}
            if (debate.contraArguments !==  undefined)
                - for (let argument of debate.contraArguments)
                  div.flex
                    input.weight( onclick="updateWeight(this)" value=argument.weight || 1 name="con-w" readonly)
                    input.locked(type="text" value=argument.argument name="con" readonly)
            if(currentStep == 1)
                input.inactive(type="text" onfocus="activateInactiveButton('con')")